.linkButtonImg   {
    width: 350px;
    height: 350px;
    margin-left: 50px;
    margin-right: 50px;
    border: 5px solid #828282;
    filter: blur(3px);

    
}
.linkButtonImg:hover {
    filter: blur(0px);
}
.linkButtons {
    display: flex;
    justify-content: center;
    @media @mobile {
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
      }
}

#titleBlock {
    height: 300px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    // padding-left: 220px;
    padding-top: 80px;
    @media @mobile {
        padding-left: 70px;
        padding-top: 0px;
    }
}

.fadeButton {
    text-align: center;
    padding-bottom: 50px;
}
#logo {
    width: 750px;
    height: 150px;
    @media @mobile {
        width: 150px;
        height: 75px;
    }
}
.buttonName{
    font-size: 24pt;
    justify-self: center;
    text-decoration: none;
}